/* Basic styling for the home page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    background-image: url('C:\Users\lenod\OneDrive\Desktop\Grocery Delivery App\grocery-delivery-frontend\public\images\hero.png');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .cta-button {
    background-color: #FF5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
  }
  .outter-box{
    padding: 0;
    margin-top: 40px;
  }
  .featured {
    text-align: center;
    padding: 50px 20px;
  }
  
  .categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .category {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .category img {
    width: 100%;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
  